libraries/autonomy_sdk_0.62.1.1.74_navinfo
libraries/ffmpegbuild
libraries/opencv
libraries/snpe-1.25.0.287
libraries/snpe-1.35.0.698
libraries/protobuf
libraries/armnn
toolchain
app/obj
app/libs
**/.DS_Store
pics
app/jni/obj
**/*.pyc
**/*.o
aurora
result.jpg
obj
data
libs
build